services:
  api:
    build: 
      context: .
      dockerfile: ./backend/ops/backend.Dockerfile
    volumes:
      - .:/app
    networks:
      - app-network
    ports:
      - "8000:8000"
    environment:
      DATABASE_DRIVER: postgresql
      DATABASE_USERNAME: user
      DATABASE_PASSWORD: password
      DATABASE_HOST: database
      DATABASE_PORT: 5432
      DATABASE_NAME: db

  frontend:
    build:
      dockerfile: Dockerfile
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/html:/usr/share/nginx/html
      - ./frontend/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network
      
  database:
    image: postgres:17
    restart: always
    volumes:
      - data:/var/lib/postgresql/data
      - ./backend/ops/initdb.d:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: db
    networks:
      - app-network

  adminer:
    image: adminer:latest
    restart: always
    links:
      - database:db
    networks:
      - app-network
    ports:
      - "5433:8080"
    depends_on:
      - database

volumes:
  data:

networks:
  app-network:
    driver: bridge