<nav class="navbar">
    <a href="../index.html" class="logo-link">
        <img src="https://i.postimg.cc/K8D91Q8Y/Chat-GPT-Image-5-11-2025-00-32-44-Photoroom.png" class="Logo-nav"
            alt="Logo">
    </a>

    <a href="../pages/market.html">Market</a>
    <a href="../pages/inventory.html">Inventory</a>
    <a href="../Html/index.html#FAQ">FAQ</a>

    <div class="right-navbar">
        <div class="logged-out">
            <a href="../login/index.html" class="signin-button">Sign In</a>
            <a href="../login/index.html" class="signup-button">Sign Up</a>
        </div>

        <div class="logged-in" style="display: none;">
            <span class="user-name"></span>
            <a href="#" class="logout-button">Logout</a>
        </div>
    </div>
</nav>